<!-- app/views/restaurants/index.html.erb -->
<div class="header text-center">
  <h1>Yelp</h1>
  <p><%= link_to "Create new restaurant", new_restaurant_path %></p>
</div>

<div class="container">
  <div class="row">
  <% @restaurants.each do |restaurant| %>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="card">
        <%= render "restaurant_card", restaurant: restaurant %>
      </div>
    </div>
  <% end %>
  </div>
</div>



