// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.restaurants {
  background-color: rgb(230, 230, 230);
  padding: 20 20;
  margin-top: 50px;
  height: 450px;
}

.restaurant {
  margin-top: 30px;
}

.btn_width {
  width: 120px;
}
